.content-wrapper {
    display: flex;
    align-items: center;
}

.title-ctn {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin-top: -20%;
    margin-bottom: 5%;
}

.main-ctn {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.custom-file label {
    background-color: rgb(0, 15, 150);
    color: white;
}

.custom-file label:hover {
    background-color: rgb(0, 19, 190);
    color: white;
}

.btn.btn-success {
    background-color: rgb(1, 116, 1);
    color: rgb(233, 231, 231);
    border: none;
}

.btn.btn-success:hover {
    background-color: rgb(1, 141, 1);
    color: rgb(233, 231, 231);
    border: none;
}

.process-btn {
    margin-top: 2%;
}

.confirm-btn {
    display: inline-block;
    width: 200px;
}